.Footer {
  background-color: #23282C;
  color: #6D757C;
  display: flex;
  flex-direction: column;

}

.Footer .top span {
  padding: 0 1rem;
  position: relative;
  margin: 3rem 0;
  display: inline-block;
}

.Footer .top span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 2px;
  background-color: #6D757C;
}

.Footer .bot {}

.Footer .bot ul {
  display: flex;
  margin-bottom: 3rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.Footer .bot ul li {}

.Footer .bot ul li div {
  display: flex;

}

.Footer .bot ul li div h2 {
  padding-right: 1rem;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.Footer .bot ul li div p {
  font-size: 24px;
  line-height: 32px;
}

.Footer .bot ul li>p {
  line-height: 2rem;
}

.Footer .bot ul li>p:nth-of-type(1) {
  margin-top: 1rem;
}

@media (max-width: 1300px) {
  .Footer .bot ul {
    display: flex;
    margin-bottom: 3rem;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .Footer .bot ul li {
    margin-top: 3rem;
  }
}

@media (max-width: 1000px) {}