.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: var(--fontColor);
}

.Header h1 {
  cursor: pointer;
  font-size: var(--pointSize);
  font-weight: var(--titleWeight);
}

.menu-button {
  background: none;
  border: none;
  font-size: var(--bigSize);
  cursor: pointer;
  color: var(--fontColor);
  display: none;
  /* 기본적으로 버튼을 숨깁니다 */
}

.menu {
  background-color: #fff;
  color: var(--fontColor);
  padding: 1rem;
  /* 기본적으로 숨김 */
}

.menu.pc ul {
  display: flex;
}

.menu.pc ul li {
  padding: 0 1rem;
}

.menu.pc ul li a {
  text-decoration: none;
  padding: 1rem;
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> 9da1b31 (add [20230829] 번경전)
  color: var(--fontColor);
  position: relative;
  box-sizing: border-box;
}
<<<<<<< HEAD
.menu.pc ul li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--pointColor);
  border-radius: 50px;
  transition: 0.4s;
}
.menu.pc ul li:hover a::before {
  width: 100%;
}
=======

.menu.pc ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  /* 이 부분을 추가합니다 */
  width: 0%;
  /* width를 100%로 변경합니다 */
  border-bottom: 3px solid #000;
  transition: 0.4s;
}

.menu.pc ul li:hover a::before {
  /* height: 2px; */
  width: 100%;
  /* hover 상태에서의 height를 2px로 변경합니다 */
}



>>>>>>> 9da1b31 (add [20230829] 번경전)
/* 모바일 화면에서만 메뉴 버튼을 보이게 하기 위한 코드 */
@media screen and (max-width: 768px) {
  .menu.pc {
    display: none;
    /* PC용 메뉴를 숨깁니다 */
  }

  .menu-button {
    display: block;
  }
}

/* 데스크톱 화면에서는 모바일용 메뉴를 숨기기 위한 코드 */
@media screen and (min-width: 769px) {
  .menu.mobile {
    display: none;
    /* 모바일용 메뉴를 숨깁니다 */
  }
}

/* 미디어 쿼리를 사용하여 768px 이하의 화면 크기에서만 버튼을 보이게 합니다 */
@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 0.5rem 0;
  text-align: center;
}

.menu a {
  color: #222;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}
