:root {
  /* color */
  --pointColor: #73adff;
  --deepPointColor: #083988;
  --bgColor: #f8f8f8;
  --fontColor: #020715;
  --fontColorSub01: #646464;
  --fontColorSub02: #b1b1b1;
  /* size */
  --titleSize: 3.75rem;
  --subTitleSize: 2.5rem;
  --pointSize: 2.25rem;
  --bigSize: 1.5rem;
  --middleSize: 1.25rem;
  --baseSize: 1rem;
  /* weight */
  --titleWeight: 700;
  --middleWeight: 500;
}